<mat-nav-list>
  <div class="logo py-4">
    <!-- <img src="./assets/logo.svg" alt="Company Logo" /> -->
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2"><A>Menu | เมนู</A></h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon>Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/register">
    <mat-icon>class</mat-icon>ลงทะเบียน
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/add">
    <mat-icon>add_circle_outline</mat-icon> เพิ่มวิชาเรียน
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/cancle">
    <mat-icon>remove_circle_outline</mat-icon> ถอนวิชาเรียน
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/change">
    <mat-icon>redo</mat-icon> เปลี่ยนตอนเรียน
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/result">
    <mat-icon>insert_drive_file</mat-icon> ผลการลงทะเบียน
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/grade">
    <mat-icon>school</mat-icon> ผลการเรียน
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/password">
    <mat-icon>lock_open</mat-icon> เปลี่ยนรหัสผ่าน
  </a>


</mat-nav-list>
