<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">ผลการเรียน</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <mat-card class="card">ข้อมูลผลการเรียนแบบไม่เป็นทางการ</mat-card>

      <table class="table">
        <thead>
          <tr>
            <th colspan="5">ปีการศึกษา</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ชื่อวิชา</th>
            <td scope="row">หน่วยกิต</td>
            <td scope="row">ตอนเรียน</td>
            <td scope="row">เกรด</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td scope="row">2</td>
            <td scope="row">3</td>
            <td scope="row">4</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td scope="row">6</td>
            <td scope="row">7</td>
            <td scope="row">8</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td scope="row">2</td>
            <td scope="row">3</td>
            <td scope="row">4</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td scope="row">6</td>
            <td scope="row">7</td>
            <td scope="row">8</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
