<mat-nav-list>
  <div class="logo py-4">
    <!-- <img src="./assets/logo.svg" alt="Company Logo" /> -->
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2"><A>Menu | เมนู</A></h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/teacherhome">
    <mat-icon>home</mat-icon>Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachernamestudent">
    <mat-icon>class</mat-icon>namestudent
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/teacherschedule">
    <mat-icon>add_circle_outline</mat-icon>teacherschedule
  </a>

</mat-nav-list>
