<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">ลงทะเบียน</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="example-container">

        <mat-form-field class="container" hintLabel="Max 5 characters" appearance="fill">
          <mat-label>รหัสวิชา</mat-label>
          <input matInput #input maxlength="5" placeholder="Ex.10101">
          <mat-hint align="end">{{input.value?.length || 0}}/5</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="select">
          <mat-label>ตอนเรียน</mat-label>
          <mat-select>
            <mat-option value="option">Sec.1</mat-option>
            <mat-option value="option">Sec.2</mat-option>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field class="container" hintLabel="Max 5 characters" appearance="fill">
          <mat-label>รหัสวิชา</mat-label>
          <input matInput #input maxlength="5" placeholder="Ex.10101">
          <mat-hint align="end">{{input.value?.length || 0}}/5</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="select">
          <mat-label>ตอนเรียน</mat-label>
          <mat-select>
            <mat-option value="option">Sec.1</mat-option>
            <mat-option value="option">Sec.2</mat-option>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field class="container" hintLabel="Max 5 characters" appearance="fill">
          <mat-label>รหัสวิชา</mat-label>
          <input matInput #input maxlength="5" placeholder="Ex.10101">
          <mat-hint align="end">{{input.value?.length || 0}}/5</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="select">
          <mat-label>ตอนเรียน</mat-label>
          <mat-select>
            <mat-option value="option">Sec.1</mat-option>
            <mat-option value="option">Sec.2</mat-option>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field class="container" hintLabel="Max 5 characters" appearance="fill">
          <mat-label>รหัสวิชา</mat-label>
          <input matInput #input maxlength="5" placeholder="Ex.10101">
          <mat-hint align="end">{{input.value?.length || 0}}/5</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="select">
          <mat-label>ตอนเรียน</mat-label>
          <mat-select>
            <mat-option value="option">Sec.1</mat-option>
            <mat-option value="option">Sec.2</mat-option>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field class="container" hintLabel="Max 5 characters" appearance="fill">
          <mat-label>รหัสวิชา</mat-label>
          <input matInput #input maxlength="5" placeholder="Ex.10101">
          <mat-hint align="end">{{input.value?.length || 0}}/5</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="select">
          <mat-label>ตอนเรียน</mat-label>
          <mat-select>
            <mat-option value="option">Sec.1</mat-option>
            <mat-option value="option">Sec.2</mat-option>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field class="container" hintLabel="Max 5 characters" appearance="fill">
          <mat-label>รหัสวิชา</mat-label>
          <input matInput #input maxlength="5" placeholder="Ex.10101">
          <mat-hint align="end">{{input.value?.length || 0}}/5</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="select">
          <mat-label>ตอนเรียน</mat-label>
          <mat-select>
            <mat-option value="option">Sec.1</mat-option>
            <mat-option value="option">Sec.2</mat-option>
          </mat-select>
        </mat-form-field><br>


        <button>Send</button>
      </div>
    </div>
  </div>
</div>
