<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">รายชื่อนักเรียน</div>
  <div class="page__content shadow p-3 position-relative ">
    <mat-card class="card">รายชื่อนักเรียน</mat-card>
    <div class="select">
      <mat-form-field class="ss" appearance="fill">
        <mat-label>ตอนเรียน</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">ตอนเรียนที่ 1</mat-option>
          <mat-option value="2">ตอนเรียนที่ 2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">รหัสวิชา</th>
            <th scope="col">รายวิชา</th>
            <th scope="col">หน่วยกิต</th>
            <th scope="col">ตอนเรียน</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td scope="2">Larry</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

  </div>
</div>
