<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">เพิ่มนักศึกษา</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <form class="example-form">
        <div class="textfull">
        <label class="textform">Student-ID : รหัสนักศึกษา</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>StudentID</mat-label>
          <input matInput placeholder="Ex.620637" value="">
        </mat-form-field>
        <label class="textform">Name : ชื่อ-นามสกุล</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Ex.เอดี ฟลุ๊ค" value="">
        </mat-form-field>
        <label class="textform">Gender : เพศ</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Gender</mat-label>
          <input matInput placeholder="Ex.ชาย หรือ หญิง" value="">
        </mat-form-field>
        <label class="textform">Birthday : วัน-เดือน-ปีเกิด</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Birthday</mat-label>
          <input matInput placeholder="Ex.2000-12-05" value="">
        </mat-form-field>
        <label class="textform">Personal-ID : หมายเลขบัตรประชาชน</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>PersonalID</mat-label>
          <input matInput placeholder="Ex.2000-12-05" value="">
        </mat-form-field>
      </div>
      </form>
      <div>
        <button class="buttonstupid">Send</button>
    </div>
    </div>
  </div>
</div>

