<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">หน้าแรก</div>
  <div class="page__content shadow p-3 position-relative">
    <div id="datas" class="page__content-data position-absolute " >

      <mat-card class="example-card">
        <mat-card-subtitle class="subtitle">กรุณาเลือกการทำงาน จากเมนูด้านซ้าย</mat-card-subtitle>
        <mat-card-content class="textcard">
          <p>
            การลงทะเบียน ประกอบไปด้วยเมนูสำหรับลงทะเบียนในภาคการศึกษาปัจจุบัน
          </p>
          <p>ลงทะเบียน สำหรับทำการลงทะเบียน</p>
          <p>เพิ่มวิชาเรียน สำหรับลงทะเบียนเพิ่มวิชาเรียน</p>
          <p>เปลี่ยนตอนเรียน สำหรับลงทะเบียนเปลี่ยนตอนวิชาเรียน</p>
          <p>ถอนวิชาเรียน สำหรับถอนวิชาเรียนที่ลงทะเบียนไว้</p>
          <p>
            ผลลงทะเบียน
            สำหรับตรวจสอบผลการลงทะเบียนในภาคการศึกษาที่ผ่านมาและปัจจุบัน
          </p>
          <p>
            ผลการเรียน สำหรับตรวจสอบผลการเรียนในภาคการศึกษาที่ผ่านมาและปัจจุบัน
          </p>
          <p>
            ตารางสอน
            สำหรับตรวจสอบวันเวลาเรียนของวิชาที่ลงทะเบียนในภาคการศึกษาปัจจุบัน
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
      </mat-card>
    </div>
  </div>
</div>
