<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">เปลี่ยนรหัสผ่าน</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <form class="example-form">

        <label class="textform">รหัสผ่านเดิม</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>รหัสผ่านเดิม</mat-label>
          <input matInput >
        </mat-form-field>
        <label class="textform">รหัสผ่านใหม่</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>รหัสผ่านใหม่</mat-label>
          <input matInput>
        </mat-form-field>
        <label class="textform">ยืนยันรหัสผ่านใหม่</label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>ยืนยันรหัสผ่านใหม่</mat-label>
          <input matInput>
        </mat-form-field>


</form>
<button class="bottomstupid">Send</button>
    </div>
  </div>
</div>
