<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">เพิ่มวิชาเรียน</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <mat-card class="card">ผลการลงทะเบียน</mat-card>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">รหัสวิชา</th>
            <th scope="col">รายวิชา</th>
            <th scope="col">หน่วยกิต</th>
            <th scope="col">ตอนเรียน</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td scope="2">Larry</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      <div>
      <mat-card class="card-i">เพิ่มวิชาเรียน</mat-card>
      <div class="box">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label class="text">รหัสวิชา</mat-label>
          <input matInput placeholder="040203101" value="" />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label class="text">ตอนเรียน</mat-label>
          <input matInput placeholder="Ex.1" value="" />
        </mat-form-field>
      </form>
    </div>
      <div>
        <button class="buttonstupid">Send</button>
    </div>
</div>

